img.allsecure_exchange_creditcard_method {
    max-height: 24px;
}

#allsecure_exchange_sandbox {
	margin: 0 auto 10px auto!important;
	padding: 3px 0 3px 0;
	width: 100%;
	font-size: 13px!important;
	font-weight: 700;
	color: red!important;
	background-color: #fba;
	text-align: center;
	border-bottom: red solid 3px;
}

#allsecure_exchange_payee {
    margin: 0 auto 10px auto!important;
    font-size: small;
}

#allsecure_exchange_seamless label:before {
    display: none;
}

#allsecure_exchange_seamless label {
    padding: 0px;
}

#allsecure_exchange_errors {
    color: red;
    line-height: 1em;
    width: 100%;
	font-size: 0.8em;
	clear: both;
	margin-top: 15px;
}


.allsecure_exchange_visible{
    display: block!important;
	line-height: 130%;
}

.has-error {
}

div#allsecureexchange_footer{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
	padding-top: 20px;
    max-width: 1074px;
	margin: 0px auto;
}
#allsecureexchange_footer div{
    height: 50px;
}

#allsecureexchange_box1{
    width: 20%;
    border-right: 1px solid #ccc;
    margin: 0 auto;
    text-align: center;
}
#allsecureexchange_box2{
    border-right: 1px solid #ccc;
    width: 20%;
    align-items: center; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    margin: 0 auto;
}
#allsecureexchange_box3{
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
#allsecureexchange_box4{
    border-left: 1px solid #ccc;
    width: 40%;
     align-items: center; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    margin: 0 auto;
}

#allsecureexchange_box1 img, #allsecureexchange_box3 img, #allsecureexchange_box2 img , #allsecureexchange_box4 img {
    height: 40px;
    border: 0px;
    display: inline;
    max-width: 90%;
	max-height: 90%;
    margin: 10px auto;
}
#allsecureexchange_box1 a, #allsecureexchange_box2 a, #allsecureexchange_box3 a, #allsecureexchange_box4 a {
  margin: 0px auto;
  max-height: 100%;
}

@media only screen and (max-width: 768px) {
	#allsecureexchange_footer {
		flex-flow: row wrap;
	}
	#allsecureexchange_box1 {
		order: 3;
		width: 50%;
	}
	#allsecureexchange_box2 {
		order: 4;
		width: 50%;
		border: none;
	}
	#allsecureexchange_box3 {
		order: 2;
		width: 20%;
		border: none;
	}
	#allsecureexchange_box4 {
		order: 1;
		width: 80%;
		border: none;
	}
}
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
	#allsecureexchange_footer {
		flex-flow: row wrap;
		display: flex
	}
	#allsecureexchange_box1 {
		order: 2;
		width: 33%;
		border: none;
	}
	#allsecureexchange_box2 {
		order: 3;
		width: 33%;
		border: none;
	}
	#allsecureexchange_box4 {
		order: 1;
		width: 100%;
		border: none;
	}
	#allsecureexchange_box3 {
		order: 4;
		width: 33%;
		border: none;
	}
}